$brand-primary: #10932e;
$brand-primary-lt: #6edd88;
$brand-primary-dk: #37593f;
$brand-secondary: #80FFEC;
$brand-secondary-lt: #C2FBEF;
$brand-secondary-dk: #335E57;
$black: #363635;
$gray: #595a4a;

#terms {
    text-align: right;
}

.checkout {
    margin: 2rem auto;
    max-width: 640px;
    padding: 1rem 0;
    text-align: center;

    &__button {
        background-image: linear-gradient(90deg, darken($brand-secondary, 45) 0%, darken($brand-secondary, 45) 50%, $brand-secondary-dk 50%, $brand-secondary-dk 100%);
        background-size: 400%;
        width: 12rem;
        margin-top: 1rem;

        &__continue {
            background-image: linear-gradient(90deg, $gray 0%, $gray 50%, $black 50%, $black 100%);
            background-size: 400%;
            width: 12rem;
            margin-top: 1rem;
        }
    }

    &__checkbox {

        input {
            width: 1rem;
            margin: 0 .5rem 0 0;
        }
    }

    &__input {
        position: relative;
    }

    &__label {
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 40px;
        transition: all 150ms ease-in;
    }

    &__float {
        transform: translateY(-25px);
        font-size: .9em;
        color: $gray;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 16rem;
    padding: 5px 5px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 2rem;
  }
  select {
    display: block;
    padding: 5px 5px;
    width: 16rem;
    max-width: 16rem; 
    box-sizing: border-box;
    border: 2px solid lighten(black, 30);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    margin: 2rem 0;
  
    &:focus {
        border-color: 2px solid lighten(black, 30);
    }
  }