

.header {
    padding: 10px 0;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eee;
    z-index: 10;
    .container {
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}