@import '../../assets/scss/global.scss';

.topmenu {
    > ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        > li {
            list-style: none;
            display: block;
            font-size: 27px;
            position: relative;
            @include max($xsmall) {
                font-size: 24px;
            }
            &:not(:last-child) {
                margin-right: 30px;
                @include max($xsmall) {
                    margin-right: 10px;
                }
            }
            > a,
            > .toggle-menu {
                padding: 5px;
                display: block;
                position: relative;
                line-height: 0;
                &:hover {
                    color: #666;
                }
                &:active,
                &:focus {
                    color: #777;
                }
                .count {
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    background: $blue;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 11px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 20px;
                    font-family: sans-serif;
                    transition: all 0.3s ease;
                    span {
                        transition: all 0.3s;
                    }
                }
                .counter-enter {
                    opacity: 0.01;
                    transform: scale(0.8);
                    transition: all 0.3s ease;
                    span {
                        transform: scale(0.5);
                        opacity: 1;
                    }
                }
                  
                .counter-enter.counter-enter-active {
                    opacity: 1;
                    transition: all 0.3s ease;
                    transform: scale(2);
                    box-shadow: 0 0 30px rgba(0, 195, 179, 0.5);
                    background: #0cd4c4;
                    span {
                        transform: scale(0.2);
                        opacity: 1;
                    }
                }
                .counter-enter.counter.example-done-enter {
                    transform: scale(1);
                    box-shadow: 0 0 10px rgba(0, 195, 179, .5);
                    transition: all 0.5s ease;
                    span {
                        transform: scale(1);
                        opacity: 0.5;
                    }
                }
                  
                .counter-leave {
                    opacity: 1;
                }
                  
                .counter-leave.counter-leave-active {
                    opacity: 0.01;
                    transition: opacity 300ms ease-in;
                    transform: scale(0.7); 
                }
            }
            .toggle-menu {
                cursor: pointer;
            }
            ul {
                margin: 0;
                padding: 10px 0;
                position: absolute;
                top: 40px;
                right: 0;
                background: #f5f8f8;
                border-radius: 8px;
                box-shadow: 0 0 20px rgba(0, 0, 0, .2);
                transition: 0.25s ease all;
                transform: scale(0.8) translate(20px, -40px);
                opacity: 0;
                visibility: hidden;
                transform-origin: 1 0;
                &:before {
                    content: "";
                    border-color: transparent transparent #f5f8f8;
                    border-width: 0 7px 7px;
                    border-style: solid;
                    position: absolute;
                    top: -7px;
                    right: 12px;
                    z-index: 2;
                }
                &:after {
                    content: "";
                    border-color: transparent transparent #ddd;
                    border-width: 0 8px 8px;
                    border-style: solid;
                    position: absolute;
                    top: -8px;
                    right: 11px;
                    z-index: 1;

                }
                &.active {
                    transform: scale(1) translate(0, 0);
                    opacity: 1;
                    visibility: visible;
                }
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: block;
                    a {
                        padding: 10px 20px;
                        font-size: 16px;
                        display: block;
                        white-space: nowrap;

                    }
                }
            }
        }
    }

}