@import '../../assets/scss/global.scss';

.section-intro {
    background:  linear-gradient(to right, rgba(246,236,209,1) 0%, rgba(255,214,197,1) 50%, rgba(240,223,227,1) 100%);
    padding: 30px 40px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 30px;
    @include max($small) {
        padding: 30px;
    }
    @include max($xsmall) {
        flex-direction: column;
        align-items: center;
    }
    .intro-l {
        width: 184px;
        flex: 0 0 184px;
        color: $red;
        font-size: 185px;
        line-height: 0;
        @include max($xsmall) {
            width: 100%;
            flex: auto;
            text-align: center;
        }
        svg {
        }
    }
    .intro-r {
        flex: 1;
        margin-left: 40px;
        @include max($xsmall) {
            margin: 20px 0 0;
        }
        h1 {
        }
        p {
            font-size: 18px;
        }
    }
}